/*color pallet
Midnight blue - #0e004f
Shadow blue -#241566
OffWhite -#e2e5d5
dark gray -#262d38
yello -#dbdb34
orange - #eaac10

font-family: 'pster', cursive;
*/




body{
  position: relative;
  overflow: scroll;
}

.backgroundImage{
  top: 0;
  position: fixed;
  height:100vh;
  width:100vw;
}

.midnightBlue{
  background-color: #0e004f;
}


.cardtitle{
  max-height: 80px;
  min-height: 80px;
  text-align: center;
}

.makeReservationBox{
  border: 1px solid black;
  height: 35vh;
}

.calendarBox{
  height: 35vh;
  border: 1px solid black;
}

.hauntPropBox {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
  background: rgba(38, 45, 56, 0.7) !important;
  color: #e2e5d5;
}

.PropertyCardFade{
  /*background-color: black;*/
}
.card{
  margin-top: 30px;
  min-height: 450px;
  max-height: 450px;
  background: rgba(38, 45, 56, 0.7) !important;
  color: #e2e5d5;

}
.card:hover{
  box-shadow: 0 0 15px #6b6862;
}

.overflow{
  overflow: scroll;
}

.cardButton{
  margin: 10px;
  margin-top: 20px;
  background: #131414 !important;
}
.cardButton:hover{
  border: 4px solid #ccab41;
  box-shadow: 0 0 10px white;
  color:#d3d68d;
}
.cardButtonText{
  margin-bottom: 40px;
  color: #d3d68d
}
.cardButtonText:hover{
  color: #ccab41;
}

.scaryText {
  font-family: 'Creepster', cursive;
}
.navBarFixed{
  /*background-color: #5b5b58 !important;*/
  background: rgba(38, 45, 56, 0.0) !important;
  position: absolute;
}
.navBarText {
  color: #999b90 !important;
}

.ListAllProperties{
  margin-top: 50px;
}

.propertyFormInput {
  background: rgba(226, 229, 213, 1.0) !important;
}

.formDescription {
  color: #e2e5d5;
}

.postPropertyForm{
  margin-top: 50px;
}

.postPropertySubmit {
  background: rgba(226, 229, 213, 1.0) !important;
  margin-bottom: 50px;
}


.postPropertySubmit:hover {
  background: rgba(226, 229, 213, 0.0) !important;
  border: 2px solid rgba(226, 229, 213, 1.0);
  margin-bottom: 50px;
}

.propSubmitBtnText:hover{
  color: rgba(226, 229, 213, 1.0);
}

.propSubmitBtnText{
  color: rgba(38, 45, 56, 1.0);
}
