/*color pallet
Midnight blue - #0e004f
Shadow blue -#241566
OffWhite -#e2e5d5
dark gray -#262d38
yello -#dbdb34
orange - #eaac10
*/


.midnightBlue{
  background-color: #0e004f;
}


.PropertyCard{
  /*height:40vh;*/
  width:30%;
  float:left;
  margin:1.5%;
}

.makeReservationBox{
  /*background-color: red;*/
  border: 1px solid black;
  height: 35vh;
}

.calendarBox{
  /*background-color: green;*/
  height: 35vh;
  border: 1px solid black;
}

.hauntPropBox {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
  background-color: yellow;
}
